<div class="container">
  <h2>{{ titulo | uppercase }}</h2>
  
  <form [formGroup]="tareasForm" (ngSubmit)="handleSubmit()">
    <mat-form-field class="mat-form-field">
      <input 
        matInput
        formControlName="nombre" 
        placeholder="Añade una tarea"
        #nombreTarea
      >

      <button type="submit" mat-icon-button matSuffix>
        <mat-icon>add</mat-icon>
      </button>

      @if (tareasForm.get('nombre')?.hasError('whiteSpaceOnly')
          && !tareasForm.get('nombre')?.hasError('required')) {
        <mat-error>No puedes añadir <strong>únicamente espacios en blanco</strong>.</mat-error>
      }
    </mat-form-field>
  </form>

  @defer {
    @for (tarea of tareas; track tarea.id) {
      <app-tarea 
        [tarea]="tarea"
        class="tarea"
      />
    } @empty {
      <br>
      <span>¡No tienes tareas pendientes!</span>
    }
  }
  @loading (minimum 700ms) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }

</div>

