<div class="container">
  
  <form [formGroup]="tareasForm" (ngSubmit)="handleSubmit()">
    <mat-form-field class="mat-form-field">
      <input 
        matInput
        formControlName="nombre" 
        placeholder="Añade una tarea"
        #nombreTarea
      >

      <button type="submit" mat-icon-button matSuffix>
        <mat-icon>add</mat-icon>
      </button>

      @if (tareasForm.get('nombre')?.hasError('whiteSpaceOnly')
          && !tareasForm.get('nombre')?.hasError('required')) {
        <mat-error>No puedes añadir <strong>únicamente espacios en blanco</strong>.</mat-error>
      }
    </mat-form-field>
  </form>

  <div class="opciones-conainer">

    <div class="primer-par">
      <div class="filter-container">
        <mat-button-toggle-group (click)="paginaTareas()" [formControl]="tareasMostradasControl" hideSingleSelectionIndicator>
          <mat-button-toggle value="todas">Todas</mat-button-toggle>
          <mat-button-toggle value="pendietes">Pendientes</mat-button-toggle>
          <mat-button-toggle value="completadas">Completadas</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
  
      <div class="orden-container">
        <mat-form-field appearance="outline">
          <mat-label>Orden</mat-label>
          <mat-select [formControl]="tareasOrdenadasControl" (selectionChange)="paginaTareas()">
            <mat-option value="creciente">Más antiguas</mat-option>
            <mat-option value="decreciente">Más recientes</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="eliminar-container">
      <button 
        mat-icon-button 
        [matMenuTriggerFor]="menuEliminar" 
        matTooltip="Eliminación múltiple"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #menuEliminar="matMenu" xPosition="before">
        <button mat-menu-item (click)="deleteTareasCompletadas()">
          <span>Eliminar completadas</span>
        </button>
        <button mat-menu-item (click)="deleteTareasTodas()">
          <span>Eliminar todas</span>
          <mat-icon>warning</mat-icon>
        </button>
      </mat-menu>
    </div>
  </div>

  @defer {
    @for (tarea of tareasPaginadas; track tarea.id) {
      <app-tarea 
        [tarea]="tarea"
        class="tarea"
      />
    } @empty {
      <br>
      <span>¡No tienes tareas pendientes!</span>
    }
  }
  @loading (minimum 700ms) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }

  <div class="separador"></div>

  <mat-paginator [length]="totalTareas" 
    [pageSize]="tamanioPagina" 
    [pageSizeOptions]="tareasPorPagina" 
    showFirstLastButtons 
    (page)="pageEvent($event)"
  >
  </mat-paginator>

</div>

