button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.4rem 1rem !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition: border-radius .5s, width .5s;
  align-self: center;

  .icono {
    padding-top: 0.2rem;
  }
}

button:hover {
  background-color: var(--primary-color);
}

hr {
  margin: 0 0 0.5em;
  border: none;
  height: 1px; 
  background: linear-gradient(to right, transparent, var(--primary-color) 20%, var(--primary-color) 80%, transparent);
}

.navbar {
  height: 100%;
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: width 0.5s, padding 0.5s;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.navbar:hover {
  width: 13rem;

  button {
    border-radius: 5px;
    width: 90%;
  }
}

.features-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navbar-item {
  display: flex;
  align-items: center;
  padding: 15px;
  color: var(--quaternary-color);
}

.navbar-item.active {
  background-color: var(--secondary-color);
}

.usuario {
  height: 3.5rem;

  .icono {
    padding-top: 0.4rem;
  }
}

.icono {
  font-size: 24px;
}

.nombre {
  margin-left: 0.7rem;
  visibility: hidden;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s ease, visibility 0.5s ease;
}

.navbar:hover .nombre {
  visibility: visible;
  width: auto;
}

.btn-desconectar {
  margin-bottom: .5rem;
}

.hr-desconectar {
  margin-top: auto;
}
