<div class="navbar">
  <div class="navbar-item cabecera">
    <span class="icono">&#9776;</span>
  </div>

  <div class="features-container">
    <button 
      class="navbar-item feature"
      routerLink="/to-do-list"
    >
      <span class="icono">
        <mat-icon>checklist</mat-icon>
      </span>
      <span class="nombre">Mis tareas</span>
    </button>
  
    <button 
      class="navbar-item feature"
      routerLink="/temporizador"
    >
      <span class="icono">
        <mat-icon>hourglass_top</mat-icon>
      </span>
      <span class="nombre">Temporizador</span>
    </button>
  </div>

</div>
