<h2 mat-dialog-title>Temporizador personalizado</h2>

<mat-dialog-content>
  <form [formGroup]="temporizadorForm">
    <mat-form-field hideRequiredMarker>
      <mat-label>Horas</mat-label>
      <input matInput type="number" formControlName="horas"/>
      @if (temporizadorForm.get('horas')?.hasError('required')) {
        <mat-error>Introduce un valor</mat-error>
      } @else if (temporizadorForm.get('horas')?.hasError('min')) {
        <mat-error>Mínimo 0 h</mat-error>
      } @else if (temporizadorForm.get('horas')?.hasError('max')) {
        <mat-error>Máximo 99 h</mat-error>
      }
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-label>Minutos</mat-label>
      <input matInput type="number" formControlName="minutos"/>
      @if (temporizadorForm.get('minutos')?.hasError('required')) {
        <mat-error>Introduce un valor</mat-error>
      } @else if (temporizadorForm.get('minutos')?.hasError('min')) {
        <mat-error>Mínimo 0 min</mat-error>
      } @else if (temporizadorForm.get('minutos')?.hasError('max')) {
        <mat-error>Máximo 59 min</mat-error>
      }
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-label>Segundos</mat-label>
      <input matInput type="number" formControlName="segundos"/>
      @if (temporizadorForm.get('segundos')?.hasError('required')) {
        <mat-error>Introduce un valor</mat-error>
      } @else if (temporizadorForm.get('segundos')?.hasError('min')) {
        <mat-error>Mínimo 0 s</mat-error>
      } @else if (temporizadorForm.get('segundos')?.hasError('max')) {
        <mat-error>Máximo 59 s</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button
    [mat-dialog-close]="temporizadorForm.value"
    [disabled]="!temporizadorForm.valid"
  >
    Aceptar
  </button>
</mat-dialog-actions>

