hr {
  margin: 0 0 0.5em;
  border: none;
  height: 1px; 
  background: linear-gradient(to right, transparent, var(--primary-color) 20%, var(--primary-color) 80%, transparent);
}

.container {
  display: flex; 
  flex-direction: column;
}

.container > *:not(:last-child) {
  display: flex;
  justify-content: center;
}

.cabecera {
  color: var(--tertiary-color);
  margin: 10px 0;
}

.temporizador {
  font-size: 3em;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 0 2.5rem 1.5rem;
  cursor: pointer;
}

.botonera {
  margin-bottom: 3em;
  gap: 2em;
}

.mat-mdc-mini-fab {
  width: 30px;
  height: 30px;
}

.contenedor-inferior {
  margin-top: auto;
}

.opciones {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;

  :first-child{
    grid-column: 1 / 3;
  }
}

.oculto {
  visibility: hidden;
}
