:root {
  --fondo: #ebeeef;
  --primary-color: #3f525c;
  --secondary-color: #4d7bb8;
  --tertiary-color: #86aff0;
  --quaternary-color: #dff1ff;
  --quinary-color: #dba11c;
  --danger-color: #c70000;
}

* {
  box-sizing: border-box;
}

html {
  /* estos dos colores mientras no se solucione https://github.com/angular/components/issues/4190#issuecomment-1067757630 */
  --mdc-filled-text-field-error-active-indicator-color: var(--secondary-color);
  --mdc-filled-text-field-error-focus-active-indicator-color: var(--secondary-color);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items:  center;
  height: 100vh;
  background-color: var(--fondo);
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  background-color: white;

  & h1 {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: default;
    user-select: none; 
  }
}

main {
  grid-area: main;
  padding: 7vh 0;
  display: flex;
  justify-content: center;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 
    "header"
    "main";
}

.mat-accent.mat-mdc-checkbox {
  --mdc-checkbox-selected-focus-icon-color: var(--secondary-color);
  --mdc-checkbox-selected-icon-color: var(--secondary-color);
  --mdc-checkbox-selected-hover-icon-color: var(--secondary-color);
}

.tarea-details-form 
  .mat-mdc-form-field-subscript-wrapper, 
  .mat-mdc-form-field-bottom-align::before {
  display: none;
}

.mat-mdc-button {
  color: var(--secondary-color) !important;
}

.cancel-button {
  color: var(--danger-color) !important;
}

.cancel-button.mat-mdc-button .mat-mdc-button-persistent-ripple::before {
  background-color: var(--danger-color);
}

.mat-mdc-button[disabled], .mat-mdc-button.mat-mdc-button-disabled {
  color: #afafaf !important;
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, 
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--secondary-color) !important;
}